.main{
        background-color: rgb(255, 230, 198);
}
.genre{
        height: 10rem;
        width: 22rem;
        border-radius: 4px;      
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        margin: 2rem 4rem;
        padding: 1rem;
        background-color: rgb(247, 204, 163);
}
@media screen and (max-width: 500px) {
        .genre{
                height: 10rem;
                width: 74%;
                border-radius: 4px;      
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                background-color: rgb(247, 204, 163);
                margin: 1rem;
                padding: 0;
        }

}